<div class="welcome-area">
  <div class="container">
    <div class="left">
      <h1>Hi, Donatus.</h1>
      <p>See all your shipment overview.</p>
    </div>
    <div class="right">
      <div class="calender">
        <i class="material-icons">chevron_left</i>
        <span>January, 2025</span>
        <i class="material-icons">chevron_right</i>
      </div>
      <div class="calender-icon">
        <i class="material-icons">calendar_today</i>
        <!-- <input type="date" name="date" id="date" /> -->
      </div>
    </div>
  </div>
</div>
