<div class="card">
  <div class="card-header">
    <span>{{ data.title }}</span>
    <div>
      <i class="material-icons">{{ data.icon }}</i>
    </div>
  </div>
  <div class="card-body">
    <span>${{ data.value }}</span>
  </div>
  <div class="card-footer">
    <span
      ><strong>+${{ data.difference }}</strong> vs last year</span
    >
    <div>
      <i class="material-icons">{{ data.secondaryIcon }}</i>
      <span>{{ data.differencePercentage }}%</span>
    </div>
  </div>
</div>
<!-- <div class="card">
  <div class="card-header">
    <span>TOTAL REVENUE</span>
    <div>
      <i class="material-icons">attach_money</i>
    </div>
  </div>
  <div class="card-body">
    <span>$1,580.67</span>
  </div>
  <div class="card-footer">
    <span><strong>+$10.774</strong> vs last year</span>
    <div>
      <i class="material-icons">arrow_upward</i>
      <span>18%</span>
    </div>
  </div>
</div> -->
