<div class="shipment-area">
  <div class="container">
    <div class="content-wrapper">
      <app-shipment-info-card
        *ngFor="let card of cards"
        [cardData]="card"
        [customStyles]="card.customStyles"
      >
        <div
          *ngIf="card.customTemplate === 'customCard1'"
          class="card1-content"
        >
          <div class="card-header">
            <span>SHIPMENT DELIVERED</span>
            <div>
              <i class="material-icons">attach_money</i>
            </div>
          </div>
          <div class="card-body">
            <span>$10,567</span>
          </div>
          <div class="card-footer">
            <span><strong>+$510,77</strong> vs last year</span>
            <div>
              <i class="material-icons">arrow_upward</i>
              <span>18%</span>
            </div>
          </div>
        </div>
        <div
          *ngIf="card.customTemplate === 'customCard2'"
          class="card2-content"
        >
          <div class="card-header">
            <span>DELIVERIES</span>
            <div>
              <i class="material-icons">percent</i>
            </div>
          </div>
          <div class="card-body">
            <span>$10,567</span>
          </div>
          <div class="card-footer">
            <span><strong>+$510,77</strong> vs last year</span>
            <div>
              <i class="material-icons">arrow_upward</i>
              <span>18%</span>
            </div>
          </div>
          <div class="analytics"></div>
        </div>
        <div
          *ngIf="card.customTemplate === 'customCard3'"
          class="card3-content"
        >
          <h3>OUR WAREHOUSES</h3>
          <div class="select">
            <app-custom-select [options]="options"></app-custom-select>
          </div>
          <div class="address">
            <div class="top">
              <span>Ikeja Warehouse</span>
              <i class="material-icons">content_copy</i>
            </div>
            <div class="name">
              <span class="text">
                3770 Zip Industrial blvd SE stated, Atlanta, <br />
                Industrial Blvd SE suite d, GA 30354, USA
              </span>
              <span class="map"><a href="/dashboard/main">View On Map</a></span>
            </div>
          </div>
        </div>
      </app-shipment-info-card>
    </div>
  </div>
</div>
